<%= javascript_include_tag 'edit_profile' %>
<%= render "profiles/sProfileNav" %>
<div class="container">
  <h1>Edit Profile</h1>
  <hr>
  <%= form_for @profile, url: update_profiles_path, :method=> :post, class: "form-horizontal"  do |f| %>
    <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <% if @profile.photo_id.present? %>
            <%= image_tag @profile.photo_id_url, :size => "260x180" %>
          <% else %>
            <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <%end %>
          <h6>Upload a different photo...</h6>
          <%= f.hidden_field :photo_id, value: f.object.cached_photo_id_data %>
          <%= f.file_field :photo_id, autocomplete: "off" %>
          <img id="upload-preview">
        </div>
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>


        <div class="form-group">
          <label class="col-md-3 control-label">First name:</label>
          <div class="col-md-8">
            <%= text_area :current_student, 'first_name', class: "form-control", id: 'first_name' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Last name:</label>
          <div class="col-md-8">
            <%= text_area :current_student, 'last_name', class: "form-control", id: 'last_name' %>
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-3 control-label">Gender:</label>
          <div class="col-md-8">
            <%= select_tag "gender", options_for_select(['Female', 'Male', 'Not Specified']), include_blank: 'Gender', class: "form-control" %>
            <br>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Citizenship:</label>
          <div class="col-md-8">
            <%= select_tag "citizenship", options_for_select(Country.all.each.collect{ |u| [u.name, u.id]} ), include_blank: 'Country', class: "form-control"%>
            <br>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Degree Objective:</label>
          <div class="col-md-8">
            <%= select_tag "degree_objective_phd", options_for_select(['1', '2', '3', '4', '5']), include_blank: 'Phd', class: "form-control" %>
            <%= select_tag "degree_objective_master", options_for_select(['1', '2', '3', '4', '5']), include_blank: 'Master', class: "form-control" %>
            <br>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Research Interest:</label>
          <div class="col-md-8">
              <%= select_tag :research_interest, options_for_select(ResearchInterest.all.each.collect{ |u| [u.name, u.id]} ), :multiple => true, class: "form-control"%>
              <br><br>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Undergraduate School:</label>
          <div class="col-md-8">
            <% @profile.undergrad_universities.each  do |university|%>
              <p><%= university.university_name %></p>
            <% end %>
            <%= select_tag "country_id", options_for_select(Country.all.each.collect{ |u| [u.name, u.id]} ), include_blank: 'Country', id: "college_edit_profile", class: "form-control"%>
            <br>
            <%= select_tag "undergrad_universities",  options_for_select([]), class: "form-control", include_blank: 'University Name'%>
            <br><br>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label class="col-md-3 control-label">GPA:</label>
            <div class="col-md-4">
              <%= text_area :profile, 'cgpa', class: "form-control", text: @profile.cgpa, id: 'gpa' %>
              <br><br>
            </div>
            <div class="col-md-5">
              <%= select_tag "grading_scale", options_for_select(GradingScaleType.all.each.collect{ |u| [u.grading_scale_name, u.id]} ), include_blank: 'Grading Scale', class: "form-control"%>
              <br><br>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">TOEFL Score:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'toefl', class: "form-control", text: @profile.toefl, id: 'toefl' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">GRE Writing:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'gre_writing', class: "form-control", text: @profile.gre_writing, id: 'gre_writing' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">GRE Quantitative:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'gre_quant', class: "form-control", text: @profile.gre_quant, id: "gre_quant" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">GRE Verbal:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'gre_verbal', class: "form-control", text: @profile.gre_verbal, id: 'gre_verbal' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Major:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'interested_major', class: "form-control", text: @profile.interested_major, id: 'interested_major'%>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Graduate Start Term:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'interested_term', class: "form-control", text: @profile.interested_term, id: 'interested_start_term' %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Graduate Start Year:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'interested_year', class: "form-control", text: @profile.interested_year, id: 'interested_start_year' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Work Experience (Year):</label>
          <div class="col-md-8">
            <%= select_tag "year_work_exp", options_for_select(['Less than 1 year', '1 - 2 years', '3 - 4 years', '4 - 5 years', '5 - 7 years', '7 - 10 years', '>10 years', 'Not Specified']), include_blank: 'Estimate year of work experience', class: "form-control" %>
            <br>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">SOP:</label>
          <div class="col-md-8">
            <%if !@profile.sop.nil? && Rails.env.production? %>
              <td><%= link_to @profile.sop.metadata['filename'], "#{@profile.sop_url}" %></td>
            <%elsif !@profile.sop.nil? && Rails.env.development?  %>
              <td><%= link_to @profile.sop.metadata['filename'], "#{request.base_url + @profile.sop_url}" %></td>
            <%end %>
            <%= f.hidden_field :sop, value: f.object.cached_sop_data %>
            <%= f.file_field :sop, autocomplete: "off", class: "form-control" %>
            <br>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Resume:</label>
          <div class="col-md-8">
            <% if !@profile.resume.nil? && Rails.env.production? %>
              <td><%= link_to @profile.resume.metadata['filename'], "#{@profile.resume_url}" %></td>
            <%elsif !@profile.resume.nil? && Rails.env.development?  %>
              <td><%= link_to @profile.resume.metadata['filename'], "#{request.base_url + @profile.resume_url}" %></td>
            <% end %>
            <%= f.hidden_field :resume, value: f.object.cached_resume_data %>
            <%= f.file_field :resume, autocomplete: "off", class: "form-control"%>
            <br>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Additional Attachments:</label>
          <div class="col-md-8">
            <%if !@profile.additional_attachment.nil? && Rails.env.production? %>
              <td><%= link_to @profile.additional_attachment.metadata['filename'], "#{@profile.additional_attachment_url}" %></td>
            <%elsif !@profile.additional_attachment.nil? && Rails.env.development?  %>
              <td><%= link_to @profile.resume.metadata['filename'], "#{request.base_url + @profile.additional_attachment_url}" %></td>
            <% end %>
            <%= f.hidden_field :additional_attachment, value: f.object.cached_additional_attachment_data %>
            <%= f.file_field :additional_attachment, autocomplete: "off", class: "form-control" %>
            <br>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <%= f.submit "Save Changes", class: "btn btn-primary" %>
            <span></span>
            <%= button_to "Cancel", profiles_path, class:"btn btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <%end %>
</div>
<hr>