<%= javascript_include_tag 'edit_profile' %>
<%= stylesheet_link_tag 'editProfile' %>
<%= render "profiles/sProfileNav" %>
<div class="container">
  <h1>Edit Profile</h1>
  <hr>
  <%= form_for @profile, url: update_profiles_path, :method=> :post, class: "form-horizontal"  do |f| %>
    <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <% if @profile.photo_id.present? %>
            <%= image_tag @profile.photo_id_url, :size => "260x180" %>
          <% else %>
            <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <%end %>
          <h6>Upload a different photo...</h6>
          <%= f.hidden_field :photo_id, value: f.object.cached_photo_id_data %>
          <%= f.file_field :photo_id, autocomplete: "off" %>
          <img id="upload-preview">
        </div>
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>


        <div class="form-group">
          <label class="col-md-3 control-label">First name:</label>
          <div class="col-md-8">
            <%= text_area :current_student, 'first_name', class: "form-control", id: 'first_name' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Last name:</label>
          <div class="col-md-8">
            <%= text_area :current_student, 'last_name', class: "form-control", id: 'last_name' %>
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-3 control-label">Gender:</label>
          <div class="col-md-8">
            <%= select_tag "gender", options_for_select(['Female', 'Male', 'Not Specified'],  :selected => @profile.gender || nil), include_blank: 'Gender', class: "form-control" %>
            <br>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Citizenship:</label>
          <div class="col-md-8">
            <%= select_tag "citizenship", options_for_select(Country.all.each.collect{ |u| [u.name, u.id]}, selected: @profile.country.nil? ? nil: @profile.country_id), include_blank: 'Country', class: "form-control"%>
            <br>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Degree Objective:</label>
          <div class="col-md-8">
            <p>Level of interest in MS Degree</p>
            <div class="range">
              <%= range_field_tag "degree_objective_master", options_for_select(['1', '2', '3', '4', '5'], :selected => @profile.degree_objective_master || nil),  :type=> "range", class: "slider", :value=> 0, :min => 0, :max=> 5, :step=> 1, :onchange=>"rangevalue.value=value"  %>
              <div class="sliderticks">
                <p>0</p>
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
              </div>
            </div>
            <p>Level of interest in PhD Degree</p>
            <div class="range">
              <%= range_field_tag "degree_objective_phd", options_for_select(['1', '2', '3', '4', '5'], :selected => @profile.degree_objective_phd || nil),  :type=> "range", class: "slider", :value=> 0, :min => 0, :max=> 5, :step=> 1, :onchange=>"rangevalue.value=value"  %>
              <div class="sliderticks">
                <p>0</p>
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
              </div>
            </div>
            <br>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Research Interest:</label>

          <div class="col-md-8">
            <% if @profile.research_interests.nil? or @profile.research_interests.empty?%>
              <input class="form-control" type="text" value="" readonly>
            <% else %>
              <input class="form-control" type="text" value="<%= @profile.research_interests.pluck(:name).map(&:inspect).join(', ').gsub(/"/, '') %>" readonly>
            <% end %>
            <%= select_tag :research_interest, options_for_select(ResearchInterest.all.each.collect{ |u| [u.name, u.id]}), :multiple => true, class: "form-control"%>
            <br><br>
          </div>
        </div>

        <div class="form-group" >
          <label class="col-md-3 control-label">Undergraduate School:</label>
          <div class="col-md-8" id="undergraduate_edit">
            <% if !@all_undergrads.nil? %>
              <% @all_undergrads.each  do |university|%>
                <p><%= university[:details] %></p>
              <% end %>
            <% end %>
            <b>Add education</b>
            <div style="border: 1px solid; padding: 15px;">
              <%= select_tag "country_id", options_for_select(Country.all.each.collect{ |u| [u.name, u.id]} ), include_blank: 'Country', id: "country_college_edit_profile", class: "form-control"%>
              <br>
              <%= select_tag "undergrad_universities",  options_for_select([]), class: "form-control", include_blank: 'University Name'%>
              <br>
              <div class="row">
                <div class="col-md-6" >
                  <%= select_tag "major_undergrad",  options_for_select(['Computer Science', 'Computer Engineering']), class: "form-control", include_blank: 'Major'%>
                </div>
                <div class="col-md-6">
                  <%= select_tag "degree_undergrad",  options_for_select(['B.A', 'B.S.', 'M.A.', 'M.S', 'M.C.S', 'M.B.A', 'Ph.D.', 'Other']), class: "form-control", include_blank: 'Degree'%>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6" >
                  <%= select_tag "undergrad_start_year",  options_for_select((1990..2020).step(1).to_a), class: "form-control", include_blank: 'Start year'%>
                </div>
                <div class="col-md-6">
                  <%= select_tag "undergrad_end_year",  options_for_select((2000..2030).step(1).to_a), class: "form-control", include_blank: 'Expected graduation year'%>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4" >
                  <%= text_area :profiles_undergrad_university, 'cgpa', class: "form-control", text: '', id: 'gpa', placeholder: "GPA" %>
                </div>
                <div class="col-md-6">
                  <%= select_tag "grading_scale", options_for_select(GradingScaleType.all.each.collect{ |u| [u.grading_scale_name, u.id]} ), include_blank: 'Grading Scale', class: "form-control"%>

                </div>
                <div class="container">
                  <%
                    st_grades = ""
                    GradingScaleType.all.each{ |u|
                      st_grades += u.grading_scale_name+":\n"
                      grades = u.grading_scales.all
                      if !grades.nil?
                        for i in 0..2 do
                          if !grades[i].nil?
                            if grades[i].gpa == nil
                              st_grades += grades[i].letter_grade + " (" + grades[i].percentage + ")\n"
                            else
                              st_grades += grades[i].letter_grade + " (" + grades[i].percentage + ") = " + grades[i].gpa.to_s + "\n"
                            end
                          end
                        end
                      end
                      st_grades += "\n"
                    }
                  %>
                  <span class="glyphicon glyphicon-question-sign"
                        data-toggle="popover" data-trigger= "hover" title="Example grading scales" data-container="body"
                        data-content="<%=st_grades %>">
                  </span>
                </div>
              </div>
            </div>
          </div>


          <br>
          <div class="form-group">
            <label class="col-md-3 control-label">TOEFL Score:</label>
            <div class="col-md-8">
              <%= text_area :profile, 'toefl', class: "form-control", text: @profile.toefl, id: 'toefl' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">GRE Writing:</label>
            <div class="col-md-8">
              <%= text_area :profile, 'gre_writing', class: "form-control", text: @profile.gre_writing, id: 'gre_writing' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">GRE Quantitative:</label>
            <div class="col-md-8">
              <%= text_area :profile, 'gre_quant', class: "form-control", text: @profile.gre_quant, id: "gre_quant" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">GRE Verbal:</label>
            <div class="col-md-8">
              <%= text_area :profile, 'gre_verbal', class: "form-control", text: @profile.gre_verbal, id: 'gre_verbal' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Graduate Start Term:</label>
            <div class="col-md-8">
              <%= select_tag 'interested_term', options_for_select(['Fall', 'Spring', 'Summer', 'Winter'], :selected => @profile.interested_term || nil,), include_blank: 'Term of study', class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Graduate Start Year:</label>
            <div class="col-md-8">
              <%= select_tag 'interested_year', options_for_select(['2019','2020','2021','2022','2023','2024','2025','2026', '2027','2028','2029'], :selected => @profile.interested_year || nil), include_blank: 'Year of study', :selected_value => @profile.interested_term || nil, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Work Experience (Year):</label>
            <div class="col-md-8">
              <%= select_tag "year_work_exp", options_for_select(['Less than 1 year', '1 - 2 years', '3 - 4 years', '4 - 5 years', '5 - 7 years', '7 - 10 years', '>10 years', 'Not Specified'],  :selected => @profile.year_work_exp || nil), include_blank: 'Estimate year of work experience', class: "form-control" %>
              <br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">SOP:</label>
            <div class="col-md-8">
              <%if !@profile.sop.nil? && Rails.env.production? %>
                <td><%= link_to @profile.sop.metadata['filename'], "#{@profile.sop_url}" %></td>
              <%elsif !@profile.sop.nil? && Rails.env.development?  %>
                <td><%= link_to @profile.sop.metadata['filename'], "#{request.base_url + @profile.sop_url}" %></td>
              <%end %>
              <%= f.hidden_field :sop, value: f.object.cached_sop_data %>
              <%= f.file_field :sop, autocomplete: "off", class: "form-control" %>
              <br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Resume:</label>
            <div class="col-md-8">
              <% if !@profile.resume.nil? && Rails.env.production? %>
                <td><%= link_to @profile.resume.metadata['filename'], "#{@profile.resume_url}" %></td>
              <%elsif !@profile.resume.nil? && Rails.env.development?  %>
                <td><%= link_to @profile.resume.metadata['filename'], "#{request.base_url + @profile.resume_url}" %></td>
              <% end %>
              <%= f.hidden_field :resume, value: f.object.cached_resume_data %>
              <%= f.file_field :resume, autocomplete: "off", class: "form-control"%>
              <br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Additional Attachments:</label>
            <div class="col-md-8">
              <%if !@profile.additional_attachment.nil? && Rails.env.production? %>
                <td><%= link_to @profile.additional_attachment.metadata['filename'], "#{@profile.additional_attachment_url}" %></td>
              <%elsif !@profile.additional_attachment.nil? && Rails.env.development?  %>
                <td><%= link_to @profile.resume.metadata['filename'], "#{request.base_url + @profile.additional_attachment_url}" %></td>
              <% end %>
              <%= f.hidden_field :additional_attachment, value: f.object.cached_additional_attachment_data %>
              <%= f.file_field :additional_attachment, autocomplete: "off", class: "form-control" %>
              <br>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <%= f.submit "Save Changes", class: "btn btn-primary" %>
              <span></span>
              <%= button_to "Cancel", profiles_path, class:"btn btn-default" %>
            </div>
          </div>
        </div>
      </div>
  <%end %>


  <!-- Modal -->
  <div class="modal fade" id="addUndergradModal" role="dialog" >
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon glyphicon-plus"></span> Add new school</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="alert alert-danger fade" role="alert" id="alert-school"></div>
            <div class="form-group">
              <label>University Name:</label>
              <input type="text" class="form-control" id="undergrad_school_name" >
            </div>

            <div class="form-group">
              <label>Country:</label>
              <select class="form-control" id="undergrad_country" ></select>
            </div>

            <div class="input-group date" id="undergrad_acceptance_rate">
              <label>Acceptance Rate:</label> <br>
              <input type="number" name="quantity" min="1" max="100" id="undergrad_acceptance_rate_text">
            </div>

            <div class="form-group" id="undergrad_location">
              <label>Location:</label>
              <input type="text" class="form-control" id="undergrad_location_text" >
            </div>

            <div class="form-group" id="undergrad_description">
              <label>Description:</label>
              <textarea  class="form-control" id="undergrad_description_text" ></textarea>
            </div>

            <div class="input-group date" id="undergrad_ranking">
              <div class="row">
                <div class="col-md-6">
                  <label>Ranking Type:</label>
                  <select class="form-control" id="undergrad_rank_type" ></select>
                </div>
                <div class="col-md-6">
                  <label>Ranking:</label> <br>
                  <input type="number" name="quantity" min="1" id="undergrad_ranking_text">
                </div>
              </div>
            </div>

            <div class="form-group" id="undergrad_website">
              <label>Website:</label> <br>
              <input type="text" class="form-control" id="undergrad_website_text" >
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <button type="button" class="btn btn-default btn-success pull-right" id="saveUndergradInfo"  name="save_modal_button"><span class="glyphicon glyphicon-upload"></span>Save</button>
        </div>
      </div>
    </div>
  </div>

  </div>
  <hr>
</div>