<%= render "profiles/sProfileNav" %>
<div class="container">
  <h1>Edit Profile</h1>
  <hr>
  <%= form_for @profile, class: "form-horizontal"  do |f| %>
    <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <% if @profile.photo_id.present? %>
            <%= image_tag @profile.photo_id_url, :size => "260x180" %>
          <% else %>
            <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <%end %>
          <h6>Upload a different photo...</h6>
          <%= f.hidden_field :photo_id, value: f.object.cached_photo_id_data %>
          <%= f.file_field :photo_id, autocomplete: "off" %>
          <img id="upload-preview">
        </div>
      </div>

      <script>
          function fileUpload(fileInput) {
              var imagePreview = document.querySelector('.upload-preview')
              fileInput.style.display = 'none' // uppy will add its own file input
              var uppy = Uppy.Core({
                  id: fileInput.id,
                  autoProceed: true,
              })
                  .use(Uppy.FileInput, {
                      target: fileInput.parentNode,
                  })
                  .use(Uppy.Informer, {
                      target: fileInput.parentNode,
                  })
                  .use(Uppy.ProgressBar, {
                      target: imagePreview.parentNode,
                  })
              uppy.use(Uppy.XHRUpload, {
                  endpoint: '/images/upload', // Shrine's upload endpoint
                  fieldName: 'file',
              })
              uppy.on('upload-success', function (file, data) {
                  // show image preview
                  imagePreview.src = URL.createObjectURL(file.data)
                  // read uploaded file data from the upload endpoint response
                  var uploadedFileData = JSON.stringify(data)
                  // set hidden field value to the uploaded file data so that it's submitted with the form as the attachment
                  var hiddenInput = fileInput.parentNode.querySelector('.upload-hidden')
                  hiddenInput.value = uploadedFileData
              })
              return uppy
          }
          document.querySelectorAll('.upload-file').forEach(function (fileInput) {
              fileUpload(fileInput)
          })
      </script>


      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>


        <div class="form-group">
          <label class="col-md-3 control-label">First name:</label>
          <div class="col-md-8">
            <%= text_area :current_student, 'first_name', class: "form-control", id: 'first_name' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Last name:</label>
          <div class="col-md-8">
            <%= text_area :current_student, 'last_name', class: "form-control", id: 'last_name' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Undergraduate School:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'college', class: "form-control", text: @profile.college, id: 'college' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">GPA:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'cgpa', class: "form-control", text: @profile.cgpa, id: 'gpa' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">TOEFL Score:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'toefl', class: "form-control", text: @profile.toefl, id: 'toefl' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">GRE Writing:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'gre_writing', class: "form-control", text: @profile.gre_writing, id: 'gre_writing' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">GRE Quantitative:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'gre_quant', class: "form-control", text: @profile.gre_quant, id: "gre_quant" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">GRE Verbal:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'gre_verbal', class: "form-control", text: @profile.gre_verbal, id: 'gre_verbal' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Major:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'interested_major', class: "form-control", text: @profile.interested_major, id: 'interested_major'%>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Graduate Start Term:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'interested_term', class: "form-control", text: @profile.interested_term, id: 'interested_start_term' %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Graduate Start Year:</label>
          <div class="col-md-8">
            <%= text_area :profile, 'interested_year', class: "form-control", text: @profile.interested_year, id: 'interested_start_year' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Work Experience (Year):</label>
          <div class="col-md-8">
            <%= text_area :profile, 'year_work_exp', class: "form-control", text: @profile.year_work_exp, id: 'year_work_exp'   %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Work Experience (Month):</label>
          <div class="col-md-8">
            <%= text_area :profile, 'month_work_exp', class: "form-control", text: @profile.month_work_exp, id: 'month_work_exp' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">SOP:</label>
          <div class="col-md-8">
            <%if  !@profile.sop.nil? %>
              <td><%= link_to @profile.sop.metadata['filename'], "#{request.base_url + @profile.sop_url}" %></td>
            <%end %>
            <%= f.hidden_field :sop, value: f.object.cached_sop_data %>
            <%= f.file_field :sop, autocomplete: "off" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Resume:</label>
          <div class="col-md-8">
            <%if  !@profile.resume.nil? %>
              <td><%= link_to @profile.resume.metadata['filename'], "#{request.base_url + @profile.resume_url}" %></td>
            <%end %>
            <%= f.hidden_field :resume, value: f.object.cached_resume_data %>
            <%= f.file_field :resume, autocomplete: "off" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Additional Attachments:</label>
          <div class="col-md-8">
            <%if  !@profile.additional_attachment.nil? %>
              <td><%= link_to @profile.additional_attachment.metadata['filename'], "#{request.base_url + @profile.additional_attachment_url}" %></td>
            <%end %>
            <%= f.hidden_field :additional_attachment, value: f.object.cached_additional_attachment_data %>
            <%= f.file_field :additional_attachment, autocomplete: "off" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <%= f.submit "Save Changes", class: "btn btn-primary" %>
            <span></span>
            <input type="reset" class="btn btn-default" value="Cancel">
          </div>
        </div>

      </div>
    </div>
  <%end %>
</div>
<hr>
