<%= render "profiles/sProfileNav" %>
<div class="container">
  <h1>Profile</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <% if !@profile.photo_id.nil? %>
          <%= image_tag @profile.photo_id_url, :size => "120x120" %>
        <% else %>
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
        <%end %>
        <br>
      </div>
      <div class="text-center">
        <br>
        <%= button_to "Edit Profile", edit_profile_path(@current_student.id), :method => "get", :class=>"btn btn-primary"  %>
      </div>
    </div>

    <!-- show form column -->
    <div class="col-md-9 personal-info">

      <h3>Personal info</h3>

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-md-3 control-label">First name:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="<%= @current_student.first_name %>" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Last name:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="<%= @current_student.last_name %>" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Gender:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="<%= @profile.gender %>" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Country of origin:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="<%= @profile.country.name %>" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Degree Objective:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="<%= @profile.degree_objective_phd %>" readonly>
            <input class="form-control" type="text" value="<%= @profile.degree_objective_master %>" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Undergraduate School:</label>
          <div class="col-md-8">
            <% @profile.undergrad_universities.each  do |university|%>
            <input class="form-control" type="text" value="<%= university.university_name %>" readonly>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">GPA:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="<%= @profile.cgpa %>" readonly>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Grading Scale:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="<%= @profile.grading_scale_type.grading_scale_name %>" readonly>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">TOEFL Score:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="<%= @profile.toefl %>" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">GRE Writing:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="<%= @profile.gre_writing %>" readonly>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">GRE Quantitative:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="<%= @profile.gre_quant %>" readonly>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">GRE Verbal:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="<%= @profile.gre_verbal %>" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Major:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="<%= @profile.interested_major %>" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Graduate Start Term:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="<%= @profile.interested_term %> <%= @profile.interested_year %>" readonly>

          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Work Experience:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="Years: <%= @profile.year_work_exp %> Months: <%= @profile.month_work_exp %>" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">SOP:</label>
          <div class="col-md-8">
            <%if !@profile.sop.nil? && Rails.env.production? %>
              <td><%= link_to @profile.sop.metadata['filename'], "#{@profile.sop_url}" %></td>
            <%elsif !@profile.sop.nil? && Rails.env.development?  %>
              <td><%= link_to @profile.sop.metadata['filename'], "#{request.base_url + @profile.sop_url}" %></td>
            <%end %>
            <br>
          </div>

        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Resume:</label>
          <div class="col-md-8">
            <%if  !@profile.resume.nil? && Rails.env.production?  %>
              <td><%= link_to @profile.resume.metadata['filename'], "#{@profile.resume_url}" %></td>
            <%elsif !@profile.resume.nil? && Rails.env.development?  %>
          <td><%= link_to @profile.resume.metadata['filename'], "#{request.base_url + @profile.resume_url}" %></td>
            <% end %>
            <br>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Additional Attachments:</label>
          <div class="col-md-8">
            <%if !@profile.additional_attachment.nil? && Rails.env.production? %>
              <td><%= link_to @profile.additional_attachment.metadata['filename'], "#{@profile.additional_attachment_url}" %></td>
            <%elsif !@profile.additional_attachment.nil? && Rails.env.development?  %>
          <td><%= link_to @profile.resume.metadata['filename'], "#{request.base_url + @profile.additional_attachment_url}" %></td>
            <% end %>
            <br>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <span></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>