<%= stylesheet_link_tag 'sInterestedSchools' %>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%= javascript_include_tag 'sInterestedSchools' %>
<!------ Include the above in your HEAD tag ---------->
<%= render "profiles/sProfileNav" %>
<div class="container">
  <h2> My Applications</h2>
  <%= form_tag show_profiles_path,:method => :get do %>
  <table id="myTable" class=" table order-list">
    <thead>
    <tr>
      <th>University Name</th>
      <th>Applied Date</th>
      <th>Admit Date</th>
      <th>Reject Date</th>
      <th>Interested Term/Year</th>
      <th>Delete Application</th>
      <th>Edit Application</th>
    </tr>
    </thead>
    <tbody>

    <% @applications.each do |app|%>
    <tr>
      <td><%=University.where(:id =>app.university_id).pluck(:university_name)[0]%></td>
      <td><%=app.applied_date.try(:strftime,"%m/%d/%Y")%></td>
      <td><%=app.admitted_date.try(:strftime,"%m/%d/%Y")%></td>
      <td><%=app.rejected_date.try(:strftime,"%m/%d/%Y")%></td>
      <td><%="#{app.term} #{app.year}"%></td>
      <td class="col-md-2"><button type="button" class="btn trash" id="trash_<%=app.id %>"><i class="fa fa-trash"></i></button>
      </td>
      <td class="col-md-2"><button type="button" class="btn edit" id="edit_<%= app.id %>_<%=app.university_id %>"><i class="fa fa-edit"></i></button>
      </td>
    </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5" style="text-align: left;">
        <input type="button" class="btn btn-default " id="addrow" value="Add School" />
        <br>
      </td>
    </tr>
    <tr>
    </tr>
    </tfoot>
  </table>
  <%end %>

</div>

<!-- Modal -->
<div class="modal fade" id="schoolModal" role="dialog" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-folder-open"></span> Edit School</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="alert alert-danger fade" role="alert"></div>
          <div class="form-group">
            <label>University Name:</label>
            <input type="text" class="form-control" id="uni_name" disabled="true">
          </div>
          <label>Applied Date:</label>
            <input id="datepickerapp" type="date" class="form-control" value="" />
          <label>Accepted Date:</label>
            <input id="datepickeradm" type="date" class="form-control" value="" />
          <label>Rejected Date:</label>
            <input id="datepickerrej" type="date" class="form-control" value="" />
          <input type='hidden' name='_method' value='put' />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        <button type="button" class="btn btn-default btn-success pull-right" id="saveModal"><span class="glyphicon glyphicon-upload"></span>Save</button>
      </div>
    </div>
  </div>
</div>

