<%= stylesheet_link_tag 'sInterestedSchools' %>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%= javascript_include_tag 'sInterestedSchools' %>
<!------ Include the above in your HEAD tag ---------->
<%= render "profiles/sProfileNav" %>
<div class="container">
  <h2> Schools of Interest</h2>
  <%= form_tag show_profiles_path,:method => :get do %>
  <table id="myTable" class=" table order-list">
    <thead>
    <tr>
      <td>University Name</td>
      <td>Applied Date</td>
      <td>Admit Date</td>
      <td>Reject Date</td>
    </tr>
    </thead>
    <tbody>

    <% @applications.each do |app|%>
    <tr>
      <td><%=University.where(:id =>app.university_id).pluck(:university_name)[0]%></td>
      <td><%=app.applied_date.try(:strftime,"%m/%d/%Y")%></td>
      <td><%=app.admitted_date.try(:strftime,"%m/%d/%Y")%></td>
      <td><%=app.rejected_date.try(:strftime,"%m/%d/%Y")%></td>
      <%= form_tag deleteschools_profiles_path(:university_id => app.university_id), :method => :post do %>
        <td class="col-sm-2" ><button class="btn" id="trash"><i class="fa fa-trash"></i></button>
        </td>
      <% end %>
      <td class="col-sm-2"><button class="btn" id="edit"><i class="fa fa-edit"></i></button>
      </td>
    </tr>
    <% end %>
    </tbody>
  <%end %>
    <tfoot>
    <tr>
      <td colspan="5" style="text-align: left;">
        <input type="button" class="btn btn-default " id="addrow" value="Add School" />
        <br>
      </td>
    </tr>
    <tr>
    </tr>
    </tfoot>
  </table>
</div>

