<div class="container">
  <br><br>
  <div class="row">
    <!-- show form column -->
    <div class="col-md-10 personal-info">
      <h1><%= @undergrad_university.university_name %></h1>
      <form class="form-horizontal" role="form">

        <div class="form-group">
          <p class="col-md-12"><%= @undergrad_university.university_desc %></p>
        </div>

        <div class="form-group">
          <h3 class="col-md-12">Location</h3>
          <p class="col-md-12"><%= @undergrad_university.location %></p>
        </div>
        <style>
          /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
          #map {
            height: 425px;
          }
          /* Optional: Makes the sample page fill the window. */
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
        </style>
        <div id="map"></div>
        <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: -34.397, lng: 150.644},
                    zoom: 8
                });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=KEY&callback=initMap"
                async defer></script>

        <div class="form-group">
          <h3 class="col-md-12">Institution Type</h3>
          <p class="col-md-12"><%= @undergrad_university.university_type %></p>
        </div>

        <div class="form-group">
          <h3 class="col-md-12">Acceptance Rate</h3>
          <p class="col-md-12"><%=@undergrad_university.acceptance_rate %></p>
        </div>


        <div class="form-group">
          <h3 class="col-md-12">Website</h3>
          <p class="col-md-12"><%=@undergrad_university.university_link %></p>
        </div>

        <div class="form-group">
          <h3 class="col-md-12">Ranking</h3>
          <% @undergrad_university.rankings.each do |ranking| %>
            <p class="col-md-12"><%= ranking.rank %> <%= ranking.rank_type.name %></p>
          <% end %>
        </div>

      </form>

    </div>
    <hr>
  </div>
</div>