<!DOCTYPE html>
<html>
<head>
  <title>Gremester</title>
  <%= stylesheet_link_tag    'yeti'%>
  <%= stylesheet_link_tag    'banner'%>
  <%= stylesheet_link_tag    'university'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'yeti' %>

  <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
  <script src="https://transloadit.edgly.net/releases/uppy/v0.28.0/dist/uppy.min.js"></script>

  <link href="https://transloadit.edgly.net/releases/uppy/v0.28.0/dist/uppy.min.css" rel="stylesheet" />

  <%= csrf_meta_tags %>

  <%= render "share/nav" %>
</head>
<body>
<p style= "padding-left: 15px; margin: 0px 0px; color: #31708f; background-color: #d9edf7;
    text-align: center; font-family: Helvetica, sans-serif;
    font-size: 15px;" class="notice"><%= notice %></p>


<p class="alert"><%= alert %></p>

<%= yield %>



</body>
</html>